# Terraform local state
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# Terraform working directory
.terraform/

# Terraform lock file (decida se versiona ou não)
.terraform.lock.hcl

# Variable files with secrets
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc
